//
// Device
//

.device {
    $self: &;
    position: relative;
    width: 100%;
    padding: 0;
    background: $light-separator;
    border-radius: 1rem;
    text-align: left;
    transition: all cubic-bezier(0.34, 1.56, 0.64, 1) 500ms;

    &::after {
       content: "";
        display: block;
        padding-bottom: 100%;
    }

    &:not(:disabled):active{
        transform: scale(0.95);
    }

    &--loading {
        animation-name: pulse;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &--active {
        background: $light-primary;

        #{$self}__icon {
            color: $light-primary;
        }

        #{$self}__room {
            color: $dark-primary;
        }

        #{$self}__name {
            color: $dark-primary;
        }

        #{$self}__state {
            color: $dark-secondary;
        }

        .progress__value {
            color: $green;
        }

        .progress__track {
            stroke: transparentize($green, 0.88);
        }

        .progress__fill {
            stroke: $green;
        }
    }

    &__icon {
        position: absolute;
        top: $spacer;
        left: $spacer;
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
        background: $light-hint;
        color: $dark-hint;
        transition: all ease-out 200ms;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__percentage {
        z-index: 0;
        position: absolute;
        top: $spacer;
        right: $spacer;
    }

    &__info {
        position: absolute;
        left: $spacer;
        right: $spacer;
        bottom: $spacer;
    }

    &__room,
    &__name,
    &__state {
        @extend .smallest-title;
        display: block;
    }

    &__room {
        color: $light-secondary;
    }

    &__name {
        color: $light-secondary;
    }

    &__state {
        color: $light-hint;
    }
}