//
// Typography
//

.large-title{
    font-family: SFProDisplay-Bold;
    font-size: 2.125rem;
    letter-spacing: 0.01205882353em;
    line-height: 1.2058823529em;
}

.small-title{
    font-family: SFProText-Semibold;
    font-size: 0.9375rem;
    letter-spacing: -0.01866666667em;
    
}

.smallest-title{
    font-family: SFProText-Semibold;
    font-size: 0.875rem;
    letter-spacing: -0.01142857143em;
    line-height: 1.2857142857em;
}